# Compiler-/Build-Dateien
*.o
*.obj
*.so
*.a
*.exe
*.out
*.dll
*.lib
*.dylib

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
cmake-build-*/

# CLion
.idea/
*.iml

# Sonstiges
*.log
*.tmp
*.swp
.DS_Store
Thumbs.db
